@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}

.Menu{
    list-style: none;
    padding: 0;
    background-image: url(backmenu4.jpg);
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-color: #4b3621;
}
body{
    background-image: url(BackLindo2.jpg);
}
.Menu li{
    display: inline;
}
.Menu li a{
    color: white;
    padding: 30px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    font-size: 18px;
}
.Menu li a:hover{
    background-color: #4b3621;
}
.Menu h1{
    color: white;
    float: left;
    padding: 15px;
    font-size: 35px;
}
main{
    margin-top: 0%;
    background-image: url(Background3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border: groove;
    height: 800px;
    width: 1100px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.titulo{
    text-align: center;
    margin-top: 80px;
}
form{
    padding: 5px;
    display: flex;
    border: groove;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    height: 550px;
    flex-direction: column;
}
#LogoUNITINS{
    width: 150px;
    height: 100px;
    float: right;
}
footer {
    background-color: #231709;
    color: #FFF;
    height: 50px;    
    text-align: center;
    line-height: 50px;
    width: 100%;
}
input:invalid{
    border-color: red;
}
input:valid{
    border-color: green;
}
textarea:invalid{
    border-color: red;
}
textarea:valid{
    border-color: green;
}
footer a:hover{
    background-color: black;
    transition: 1s;
}
footer a{
    color: white;
}
