@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}

.Menu{
    list-style: none;
    padding: 0;
    background-image: url(backmenu4.jpg);
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-color: #4b3621;
}
.Menu li{
    display: inline;
}
.Menu li a{
    color: white;
    padding: 30px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    font-size: 18px;
}
.Menu li a:hover{
    background-color: #4b3621;
}
.Menu h1{
    color: white;
    float: left;
    padding: 15px;
    font-size: 35px;
}
body{
    background-image: url(Background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Subtitulo{
    display: block;
    color: white;
}
main{
    margin-top: 40px;
    margin-left: 18%;
    border: solid;
    margin-right: 300px;
    background: rgba(0,0,0,.5);
    border-color: #231709;
    padding: 5px;
}
.Integrante{
    display: block;
    margin-left: 18%;
    border: solid;
    margin-right: 300px;
    background: rgba(0,0,0,.5);
    margin-top: 20px;
    height: 240px;
    border-color: #231709;
    padding-left: 5px;
}
.fotoE{
    width: 200px;
    height: 220px;
    padding-top: 10px;
    float: left;
    padding-right: 10px;
}
.Integrante p{
    display: block;
    padding-top: 20px;
    color: white;
}
.Integrante h2{
    display: block;
    padding-top: 20px;
    color: white;
}
#LogoUNITINS{
    width: 150px;
    height: 100px;
    float: right;
}
footer {
    position: relative;
    background-color: #231709;
    color: #FFF;
    height: 50px;    
    text-align: center;
    line-height: 50px;
    width: 100%;
    bottom: 0;
}
footer a:hover{
    background-color: black;
    transition: 1s;
}
footer a{
    color: white;
}
.Integrante2{
    display: block;
    margin-left: 18%;
    border: solid;
    margin-right: 300px;
    background: rgba(0,0,0,.5);
    margin-top: 20px;
    height: 230px;
    border-color: #231709;
    padding-left: 5px;
}
.Integrante2 p{
    display: block;
    padding-top: 20px;
    color: white;
}
.Integrante2 h2{
    display: block;
    padding-top: 20px;
    color: white;
}

